
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkında Menüsü</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Sehir</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Elazığ</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mesut</td>
        <td>Adana</td>
    </tr>

</table>