@using DinamikCV.Models.Entity
@model List<tblSosyalMedya>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Sosyal Medya Hesap Listem</h2>

                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">
                                
                                <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekleme</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>


                                            <th>Sosyal Medya</th>
                                            <th>İşlemler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Ad</td>
                                             
                                                <td>
                                                    <a href="/SosyalMedya/SayfaGuncelle/@item.ID" class="btn btn-info btn-sm" title="Düzenle">
                                                        <i class="fas fa-pencil-alt"> </i>
                                                    </a>

                                                    <a href="/SosyalMedya/Sil/@item.ID" class="btn btn-danger btn-sm" title="Sil">
                                                        <i class="fas fa-trash-alt"> </i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title"> Sosyal Medya Hesabı Ekleme Penceresi</h2>
                    </div>
                    <form action="/SosyalMedya/Ekle" method="post">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="Ad" class="form-control" />
                            <br />
                            <label>Sosyal Medya Linki</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Sosyal Medya İconu</label>
                            <input type="text" name="ikon" class="form-control" />
                            <br />
                            <button class="btn btn-info" > Kaydet</button>
                        </div>
                    </form>

                </div>

            </div>
            
        </div>
    </div>
</body>
</html>