@using DinamikCV.Models.Entity
@model List<tblHobilerim>

<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var k in Model)
    {
        <p>@k.Aciklama1</p>
        <p class="mb-0">
            @k.Aciklama2
        </p>
    }

</div>