
<div class="resume-section-content">
    <h2 class="mb-5">İletişim</h2>

    <label> Ad Soyad</label>
    <input type="text" class="form-control" />

    <label> Mail</label>
    <input type="text" class="form-control" />

    <label>Konu</label>
    <input type="text" class="form-control" />

    <label>Mesaj</label>
    <input type="text" class="form-control" />

    <br />

    <button class="btn btn-info "> Mesaj Gonder </button>


</div>